
body, html {
    height: 300vh;
    width: 100vw;
    margin: 0;
    background-image: url('https://images.wallpapersden.com/image/download/topography-abstract-black-texture_a2lmZmiUmZqaraWkpJRnbW1lrWZtZWU.jpg');
}